video {
  object-fit: cover;
  z-index: -1;
  /* width: 100%; */
  /* height: 100%; */
  /* position: fixed; */
}

.hero-container {
  height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  /* background: url('images/logo.jpg') center center/cover no-repeat; */
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
}

.hero-first {
  color: rgb(216, 236, 203);
  /* align-items: flex-start; */
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-left: 50px; */
}

.hero-second {
  color: rgb(216, 236, 203);
  /* align-items: center; */
  /* padding-top: 350px; */
  /* padding-left: 60px; */
  /* display: flex; */
  /* flex-direction: column; */
}

/* .hero-second>p {
  color: rgb(216, 236, 203);
  font-size: 42px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
} */

/* .hero-second>h1 {
  color: #fff;
  font-size: 50px;
  margin-top: -100px;
} */

@media screen and (max-width: 1400px) {
  .hero-container>h1 {
    font-size: 30px;
    margin-top: -150px;
  }

}

@media screen and (max-width: 1200px) {
  .hero-container {
    justify-content: space-around;
  }

  .hero-first {
    /* align-items: center; */
    width: auto;
    /* font-size: 80px; */
    /* margin-left: 40px; */
  }

  .hero-second {
    align-items: center;
    width: auto;
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-first {
    align-items: center;
    /* width: auto; */
    font-size: 30px;
    /* padding-top: 50px; */
    /* padding-bottom: none; */
    /* margin-bottom: none; */
    /* margin-bottom: 10px; */
    /* margin-left: 40px; */
  }

  .hero-second {
    align-items: top;
    width: auto;
    font-size: 0px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
  }

  /* .hero-container>h1 {
    font-size: 50px;
    margin-top: -100px;
  } */

  .hero-first>p {
    align-items: center;
    width: auto;
    /* font-size: 30px; */
    /* margin-top: 10px; */
    /* padding-top: 80px; */
  }

  .hero-second>h1 {
    /* align-items: center; */
    font-size: 50px;
    /* height: fit-content; */
    /* margin-bottom: 100px; */
  }

  /* .hero-second>p { */
    /* align-items: center; */
    /* width: auto; */
    /* font-size: 30px; */
    /* height: fit-content; */
    /* margin-bottom: 30px; */
  /* } */
}